.container{
    display: flex;
    margin: auto;
    width: 25%;
    margin-top: 30px;
    color: #ed6504;
    background-image: linear-gradient(90deg, rgb(201,232,73),rgb(25,161,203));
    padding: 15px;
    border-radius: 10px;
  
    
}

.container input{
   
    border-radius: 5px;
    height: 24px;
}
.container button{
    border-radius: 5px;
    height: 25px;
    background-color: rgb(28, 63, 28);
    color: rgb(159, 166, 159);
    padding: 0 10 0 10px;
    font-size: 15px;
    border: 0px;
}
.error{
    color: rgb(219, 43, 43);
}