body {
  background-image: url("C:\Users\j\Downloads\maxresdefault.jpg");
 
  background-repeat: no-repeat;
  background-size: cover;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
